# Dependencias
node_modules/
**/node_modules/

# Builds
dist/
**/dist/

# Variables de entorno / secretos
.env
**/.env
.env.local
**/.env.local
*.env

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
Thumbs.db

# Docker
docker-compose.yml